p{
  font-size: 150%;
}

.examen-final-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.preguntas-container {
  margin-bottom: 20px;
}

.pregunta {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

.form-check-input {
  margin-right: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.resultado {
  background-color: #e9ffe9;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #c3e6cb;
  margin-top: 20px;
}

textarea {
  border-radius: 5px;
}
